name: IAC-WORKFLOW

on: push

jobs:

#-~-~-~-~-#
# LINTERS #
#-~-~-~-~-#

  linter_terraform:
    runs-on: ubuntu-latest
    steps:
      - name: TERRAFORM LINTER STARTS <HERE>
        run: exit 0

  linter_ansible:
    runs-on: ubuntu-latest
    steps:
      - name: ANSIBLE LINTER STARTS <HERE>
        run: exit 0

  meta_linters:
    needs: [linter_terraform,linter_ansible]
    runs-on: ubuntu-latest
    steps:
      - name: META LINTERS
        run: exit 0

#-~-~-~-~-#
# DEPLOYS #
#-~-~-~-~-#

  deploy_terraform_sre:
    needs: [meta_linters]
    runs-on: ubuntu-latest
    steps:
      - name: DEPLOY TERRAFORM [ENV SRE] STARTS <HERE>
        run: exit 0

  deploy_terraform_staging:
    runs-on: ubuntu-latest
    needs: [deploy_terraform_sre]
    steps:
      - name: DEPLOY TERRAFORM [ENV STAGING] STARTS <HERE>
        run: exit 0

  deploy_terraform_production:
    runs-on: ubuntu-latest
    needs: [deploy_terraform_staging]
    steps:
      - name: DEPLOY TERRAFORM [ENV PRODUCTION] STARTS <HERE>
        run: exit 0

  meta_deploys:
    needs: [deploy_terraform_sre,deploy_terraform_staging,deploy_terraform_production]
    runs-on: ubuntu-latest
    steps:
      - name: META DEPLOYS
        run: exit 0

#-~-~-~-~-#
# OUTPUTS #
#-~-~-~-~-#

  slack_msg:
    needs: [meta_deploys]
    runs-on: ubuntu-latest
    steps:
      - name: PUBLISH SLACK MESSAGE <HERE>
        run: exit 0
