name: Tests

on: push

jobs:

  linter_terraform:
    runs-on: ubuntu-latest
    steps:
    - name: CHECKING OUT CODE
      uses: actions/checkout@v3

    - name: SETUP TERRAFORM
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.3.6

    - name: TERRAFORM CHECK FORMAT
      working-directory: ./iac/terraform
      run: terraform fmt -check -recursive

  linter_ansible:
    runs-on: ubuntu-latest
    steps:
    - name: CHECKING OUT CODE
      uses: actions/checkout@v3
      with:
          fetch-depth: 0

    - name: RUNNING ANSIBLE LINT
      uses: ansible/ansible-lint-action@v6
      with:
        path: "iac/ansible/"

  linters_done:
    needs: [linter_terraform,linter_ansible]
    runs-on: ubuntu-latest
    steps:
      - name: DONE
        run: exit 0